name: Update Calendar

on:
  schedule:
    - cron: '0 0 1 1 *' 
  workflow_dispatch: 

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install borax icalendar

      - name: Generate ICS
        run: python generate_calendar.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add lunar_events.ics
          git commit -m "Update calendar for the new year" || exit 0
          git push
